body {
  background-color: #537fe7;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  border-radius: 40px;
  background-color: #c0eef2;
  height: 55%;
  width: 30%;
}

.login-title {
  margin-left: 35%;
}

.Login-buttom {
  margin-left: 30%;
}

.login-form {
  margin-top: 15%;
  margin-left: 15%;
}
