body {
  background-color: #537fe7;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #c0eef2;
  height: 45%;
  width: 20%;
}

.login-title {
}
